<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>D:\Src\Application\Custom\MediaRelay</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<_TargetId>Folder</_TargetId>
		<TargetFramework>net10.0</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>true</SelfContained>
		<PublishSingleFile>true</PublishSingleFile>
		<PublishReadyToRun>true</PublishReadyToRun>

		<DebugType>none</DebugType>
		<DebugSymbols>false</DebugSymbols>

	</PropertyGroup>


	<ItemGroup>
		<!-- 排除 playwright.ps1 脚本 -->
		<Content Update="playwright.ps1" CopyToPublishDirectory="Never" />
		<!--排除开发配置-->
		<Content Update="appsettings.Development.json" CopyToPublishDirectory="Never" />
	</ItemGroup>

</Project>